<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ProRes RAW Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-movie</string>
				<string>public.movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Blackmagic RAW</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>braw</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CinemaDNG</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.raw-image</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dng</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ARRIRAW</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ari</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>RED R3D</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>r3d</string>
				<string>R3D</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Canon Cinema RAW</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>crm</string>
				<string>CRM</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MXF Container</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxf</string>
				<string>MXF</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
